{% extends 'base.html.twig' %}

{% block title %}New ChainOfCoady{% endblock %}

{% block body %}
    <h1>Create new ChainOfCoady</h1>

    {{ include('chain_of_coady/_form.html.twig') }}

    <a href="{{ path('app_chain_of_coady_index') }}">back to list</a>
{% endblock %}
