{% extends 'base.html.twig' %}

{% block title %}Edit Evidence{% endblock %}

{% block body %}
    <h1>Edit Evidence</h1>

    {{ include('evidence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evidence_index') }}">back to list</a>

    {{ include('evidence/_delete_form.html.twig') }}
{% endblock %}
