{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Evidance{% endblock %}

{% block body %}
<h1>Créer une nouvelle Evidance</h1>

<div class="card p-4 shadow-sm">
    {{ include('evidance/_form.html.twig', {
        button_label: 'Enregistrer'
    }) }}
</div>

<a class="btn btn-secondary mt-3" href="{{ path('app_evidance_index') }}">
    ⟵ Retour à la liste
</a>

{% endblock %}
