{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Evidance{% endblock %}

{% block body %}
<h1>Nouvelle Evidence pour </h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-2">Ajouter</button>
{{ form_end(form) }}

<a class="btn btn-secondary mt-3" href="{{ path('app_case_work_index') }}">
    ⟵ Retour à la liste des Cases
</a>
{% endblock %}
