{% extends 'base.html.twig' %}

{% block title %}Edit CaseWork{% endblock %}

{% block body %}
    <h1>Edit CaseWork</h1>

    {{ include('case_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_case_work_index') }}">back to list</a>

    {{ include('case_work/_delete_form.html.twig') }}
{% endblock %}
